nav {
    width: 100%;
    background-color: rgb(20, 18, 32);
    border-bottom: 4px solid rgb(144, 203, 223);
    padding: 2px;
}

nav ul {
    display: flex;
    gap: 50px;    
    font-size: larger;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: cyan
}

nav li :hover{
    color: aliceblue;
    border-radius: 15%;
}